<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luckyun.auth.mapper.SysModuleMapper">

	<select id="findModuleCount" resultType="Long">
		select count(1) from sys_module smodule
	</select>
	
</mapper>